.login-wrapper {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  gap: 10px;
  padding: 20px;
}

.login-input {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  height: 30px;
}
.login-btn {
  color: white;
  background-color: black;
  font-weight: 300;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  align-self: center;
  text-align: center;
  font-size: medium;
  transition-duration: 0.4s;
}
.login-btn:hover {
  background-color: white;
  color: black;
}

#login-para {
  font-size: large;
  font-weight: 800;
  text-align: center;
}
